SERVICE_NAME=produtos-service
PORT=5002

DATABASE_URL=postgresql://svc_portal_b2b:SENHA_AQUI@136.114.235.212:5432/portal_b2b
DB_SCHEMA=portal_b2b

Jwt__Issuer=portal-autenticacao
Jwt__Audience=portal-b2b
Jwt__SecretKey=SUBSTITUIR_PELA_CHAVE_COMPARTILHADA_COM_O_MS_DE_USUARIOS
Jwt__ClockSkewSeconds=60

KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
KAFKA_ENABLED=true
KAFKA_FAIL_ON_PUBLISH_ERROR=false
KAFKA_ALLOWED_EVENT_TYPES=produto_cadastrado

FRONTEND_PORT=8081
VITE_BASE_PATH=/produtos/
VITE_PRODUTO_API_URL=/api/produtos
